

<div *ngIf="!isLogged" [formGroup]="loginForm"  class="field is-horizontal">
  <div class="field-body ">
    <div class="field ">
      <p class="control  has-icons-left">
        <input class="input is-small" type="email" placeholder="Mail" formControlName="mail">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded has-icons-left">
        <input class="input is-success is-small" type="password" placeholder="Password" formControlName="password">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </p>
    </div>
  </div>
  <div class="control">
    <button type="submit" class="button is-primary is-small" (click)="onSubmit()">
      Login
    </button>
  </div>

</div>

<button class="button is-primary is-small" *ngIf="isLogged" (click)="logout()">Logout</button>

