
<div *ngIf="userPanier" class="panier">
  <p>Vous souhaitez louer:</p>
  <p *ngIf="exemplaire && exemplaire.edition && exemplaire.edition.livre">{{exemplaire.edition.livre.titre}}</p>
  <div *ngIf="userPanier.amende; else elseBlock">Amende: {{userPanier.amende}}</div>
  <ng-template #elseBlock><p>Vous n'avez pas d'amende à régler</p></ng-template>
  <div *ngIf="userPanier.cotisation !== 0; else elseCoti">Cotisation: {{userPanier.cotisation}}</div>
  <ng-template #elseCoti><p>Vous n'avez pas de cotisation à régler</p></ng-template>
  <p class="total">Montant total de l'emprunt: 5€</p><br>
  <button class="button is-primary" (click)="rent(userPanier.idPanier)">Effectuer le paiement</button>
</div>

<div *ngIf="!userPanier" class="panier">
  <p>Votre panier est vide</p>
</div>

