<div class="tabs is-centered is-toggle">
  <ul>
    <li [ngClass]="{'is-active': isSelected(1)}" (click)="selectTab(1)"><a>Coordonnées</a></li>
    <li [ngClass]="{'is-active': isSelected(2)}" (click)="selectTab(2)"><a>Emprunt</a></li>
    <li [ngClass]="{'is-active': isSelected(3)}" (click)="selectTab(3)"><a>Livres</a></li>
    <li [ngClass]="{'is-active': isSelected(4)}" (click)="selectTab(4)"><a>Questions</a></li>
  </ul>
</div>

<div class="content">
  <div class="tab-content" *ngIf="selectedTab === 1">
    <app-admin-coordonnee [admin]="admin"></app-admin-coordonnee>
  </div>

  <div class="tab-content" *ngIf="selectedTab === 2">
    <app-admin-emprunt></app-admin-emprunt>
  </div>

  <div class="tab-content" *ngIf="selectedTab === 3">
    <p>Vos avis</p>
  </div>

  <div class="tab-content" *ngIf="selectedTab === 4">
    <p>Vos questions</p>
  </div>

</div>
