<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4 is-offset-2 col-text">
          <h1 class="title">
            404
          </h1>
          <p><strong>Oops, the page you're looking for does not exist.</strong></p>
          <p>You may want to head back to the homepage. If you think something is broken, report a problem. </p>

          <a class="button" [routerLink]="['/']">Return home</a>
        </div>
        <div class="column is-one-third is-4 col-img">
          <img appImageSrc="assets/images/skalup_404.png"/>
        </div>
      </div>
    </div>
  </div>
</section>
