.hero {
  background: #f8f8f8;
}

.button {
  background: #ed8f3e;
  border-color: #ed8f3e;
  color: #ffffff;
  margin: 20px 0 0 0;
}

.col-text {
  h1 {
    font-size: 90px;
  }
}

.col-img {
  text-align: center;

  img {
    margin: 0 auto;
    width: 256px;
  }
}
